################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoStack/PhotoStack.API/StaticFiles/Images
